* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  color: cornflowerblue;
}

main {
  width: 1000px;
  margin: 3rem auto;
}

h1 {
  font-size: 4rem;
  z-index: 1;
  color: #74dade;
  line-height: 0.8;
  margin: 3rem 0 1rem;
  background-color: black;
  max-width: fit-content;
  padding: 1rem;
}

section {
  background-color: lightskyblue;
  padding: 2rem;
}

section img {
  border: 5px solid transparent;
  width: 300px;
  max-height: 20rem;
}

section img:hover {
  border: 5px solid cadetblue;
  cursor: pointer;
}

.resultsbutton {
  max-width: fit-content;
  padding: 1rem;
  border: 5px solid black;
  cursor: pointer;
  background-color: blue;
  color: aqua;
}

resultsButton {
  max-width: fit-content;
  padding: 1rem;
  border: 5px solid black;
  cursor: pointer;
  background-color: blue;
  color: aqua;
}
